.hero {
    display: flex;
    flex-direction: column;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        display: flex;
        flex-direction: column;
        padding-top: 9.5rem;
        padding-bottom: 17.5rem;

        &--btn {
            padding-top: 13.5rem;
            padding-bottom: 21.5rem;

            .hero__title {
                color: var(--color-white);
            }
        }
    }
    
    &__title {
        font-size: 11rem;
        line-height: 13.4rem;
        font-weight: 600;
        text-align: left;
        max-width: 100rem;
        width: 100%;
        margin-bottom: 10rem;
    }

    &__form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-white);
        box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        padding: 1.5rem 2rem;
        padding-right: 1.5rem;

        &__wrap {
            display: flex;
            flex: auto;
        }

        &__block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 2rem;
            height: 8rem;
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: 0;
                background-color: var(--color-grey-light);
                width: 2px;
                height: 100%;
            }

            &:last-child {

                &::after {
                    content: unset;
                }
            }

            &.u-large {
                max-width: 23rem;
                width: 100%;
            }

            &.u-medium {
                max-width: 20rem;
                width: 100%;
            }

            &.u-small {
                max-width: 14rem;
                width: 100%;
            }
        }

        label {
            font-size: 1.2rem;
            line-height: 1.5rem;
            font-weight: 500;
            color: var(--color-grey);
            margin-bottom: 1.1rem;
        }

        .select {
            display: flex;
            max-width: 21rem;
            width: 100%;
            position: relative;

            &::after {
                content: url(../../assets/images/arrow-point-to-right.svg);
                position: absolute;
                top: -1px;
                right: 0;
                z-index: 1;
            }

            &-options {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: -20rem;
                left: -2rem;
                width: max-content;
                background: var(--color-white);
                box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
                border-radius: 6px;
                padding: 1.25rem 0;
                z-index: 5;
                opacity: 0;
                height: 40rem;
                overflow-y: scroll;
                visibility: hidden;
                transition: all .3s ease;

                &::-webkit-scrollbar {
                    width: 1.5rem;
                }

                &::-webkit-scrollbar-track {
                    background: var(--color-grey-light);
                    border-radius: 0 6px 6px 0;
                }
                
                &::-webkit-scrollbar-thumb {
                    background: var(--color-secondary);
                    border-radius: 0 6px 6px 0;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: var(--color-primary);
                }

                &.active {
                    opacity: 1;
                    visibility: visible;
                }

                li {
                    display: flex;
                    font-size: 2rem;
                    line-height: 3rem;
                    font-weight: 600;
                    color: var(--color-grey);
                    background-color: transparent;
                    padding: 1.25rem 2.5rem;
                    transition: all .3s ease;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--color-secondary);
                        color: var(--color-white);
                    }
                }
            }

            &-wrap {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: transparent;
                z-index: 2;
                display: none;
                
                &.active {
                    display: block;
                }
            }
        }

        select {
            font-size: 1.6rem;
            line-height: 2rem;
            font-weight: 500;
            width: 100%;
            height: 2rem;
            border: none;
        }

        input[type=text],
        input[type=tel] {
            font-size: 1.6rem;
            line-height: 2rem;
            font-weight: 500;
            border: none;
            background-color: transparent;
            border-bottom: 1px solid var(--color-grey);
            max-width: 14rem;
            width: 100%;
            transition: all .3s ease;

            &::placeholder {
                color: var(--color-grey);
            }

            &:focus {
                border-bottom: 1px solid var(--color-secondary);
            }

            &.input-dropdown {
                max-width: unset;
                border: none;
                z-index: 2;
                cursor: pointer;
            }
        }

        input[type=submit] {
            font-size: 1.8rem;
            line-height: 2.2rem;
            font-weight: 500;
            color: var(--color-white);
            background-color: var(--color-secondary);
            padding: 3.9rem 7.3rem;
            border: none;
            cursor: pointer;
        }
    }
}