.hero {
    background-image: url(../../assets/images/hero-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {

    }
    
    &__title {

    }

    &__form {

        &__block {

        }

        label {

        }

        select {

        }

        input {

        }

        input[type=submit] {

        }
    }
}