.nav-mobile {
    display: none;
    position: fixed;
    top: -200%;
    left: 0;
    right: 0;
    background: var(--color-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 5px 5px;
    padding: 0 15px;
    padding-bottom: 20px;
    opacity: 0;
    z-index: 99;
    transition: all .5s ease;

    &.active {
        top: 64px;
        opacity: 1;
        transition: all .5s ease;
    }

    &__list {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 30px;

        li {
            display: flex;
            font-size: 26px;
            line-height: 32px;
            font-weight: 500;
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        a {
            display: flex;
            text-decoration: none;
            color: inherit;
        }
    }

    &__social {
        display: flex;
        margin-bottom: 30px;

        li {
            display: flex;
            margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            display: flex;
        }
    }

    &--phone {
        display: flex;
        font-size: 20px;
        line-height: 30px;
        font-weight: 600;
        padding-left: 35px;
        text-decoration: none;
        color: inherit;
        position: relative;

        &::before {
            content: url(../../assets/images/nav/telephone.svg);
            position: absolute;
            top: 4px;
            left: 0;
        }
    }
}