.heading-primary {
    font-size: 6rem;
    line-height: 7.3rem;
    font-weight: 600;
    text-align: center;
}

.heading-secondary {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
    text-align: center;
}

.heading-tertiary {
    font-size: 2rem;
    line-height: 3rem;
    font-weight: 600;
    text-align: center;
}

.paragraph-sm {
    font-size: 1.2rem;
    line-height: 2.2rem;
    font-weight: normal;
}