/* === Fonts === */
@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-Light.eot");
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../../assets/fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Light.woff") format("woff"), url("../../assets/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../../assets/fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-MediumItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-Thin.eot");
  src: local("Montserrat Thin"), local("Montserrat-Thin"), url("../../assets/fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Thin.woff") format("woff"), url("../../assets/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-ExtraLightItalic.eot");
  src: local("Montserrat ExtraLight Italic"), local("Montserrat-ExtraLightItalic"), url("../../assets/fonts/Montserrat-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-ExtraLightItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("../../assets/fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-BoldItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../../assets/fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-SemiBold.woff") format("woff"), url("../../assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-ExtraLight.eot");
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url("../../assets/fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-ExtraLight.woff") format("woff"), url("../../assets/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-ExtraBoldItalic.eot");
  src: local("Montserrat ExtraBold Italic"), local("Montserrat-ExtraBoldItalic"), url("../../assets/fonts/Montserrat-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-ExtraBoldItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../../assets/fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Italic.woff") format("woff"), url("../../assets/fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../../assets/fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Bold.woff") format("woff"), url("../../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-LightItalic.eot");
  src: local("Montserrat Light Italic"), local("Montserrat-LightItalic"), url("../../assets/fonts/Montserrat-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-LightItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-BlackItalic.eot");
  src: local("Montserrat Black Italic"), local("Montserrat-BlackItalic"), url("../../assets/fonts/Montserrat-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-BlackItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-SemiBoldItalic.eot");
  src: local("Montserrat SemiBold Italic"), local("Montserrat-SemiBoldItalic"), url("../../assets/fonts/Montserrat-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-SemiBoldItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../../assets/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Regular.woff") format("woff"), url("../../assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../../assets/fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Medium.woff") format("woff"), url("../../assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-ExtraBold.eot");
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url("../../assets/fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-ExtraBold.woff") format("woff"), url("../../assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-Black.eot");
  src: local("Montserrat Black"), local("Montserrat-Black"), url("../../assets/fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-Black.woff") format("woff"), url("../../assets/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../../assets/fonts/Montserrat-ThinItalic.eot");
  src: local("Montserrat Thin Italic"), local("Montserrat-ThinItalic"), url("../../assets/fonts/Montserrat-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/Montserrat-ThinItalic.woff") format("woff"), url("../../assets/fonts/Montserrat-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic; }

/* === Reset === */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

button,
input,
textarea,
select {
  font-family: 'Montserrat', sans-serif;
  -webkit-appearance: none;
  outline: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* === Base === */
:root {
  --color-primary: #2F80ED;
  --color-primary-background: #EAF4F9;
  --color-secondary: #57BCF1;
  --color-secondary-hover: #2DA9EA;
  --color-secondary-focus: #0088CE;
  --color-white: #FEFEFE;
  --color-black: #1A1A1A;
  --color-grey: #828282;
  --color-grey-light: #F2F2F2; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 2.6rem;
  color: var(--color-black);
  background-color: var(--color-white);
  min-height: 100vh;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    body {
      font-size: 16px;
      line-height: 26px; } }

.container {
  max-width: 117rem;
  width: 100%;
  margin: 0 auto; }
  @media only screen and (max-width: 75em) {
    .container {
      padding: 0 2rem; } }

.datepicker--pointer {
  display: none; }

/* === Typography === */
.heading-primary {
  font-size: 6rem;
  line-height: 7.3rem;
  font-weight: 600;
  text-align: left;
  position: relative;
  z-index: 1; }
  .heading-primary::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 2px;
    background-color: var(--color-primary);
    width: 17rem;
    height: 2rem;
    z-index: -1; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 40px;
      line-height: 50px; } }

.heading-secondary {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 600; }

.heading-tertiary {
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 600; }
  @media only screen and (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 20px;
      line-height: 30px; } }

.paragraph-sm {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-weight: normal; }

strong {
  font-weight: 600; }

/* === Buttons === */
.btn {
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-secondary);
  border-radius: 5px;
  text-decoration: none;
  border: none;
  outline: none; }
  .btn-primary {
    width: 100%;
    padding: 1.9rem 0; }
    .btn-primary-sm {
      width: fit-content;
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: 500;
      padding: .4rem 1rem;
      margin-left: auto; }
    .btn-primary-m {
      width: fit-content;
      padding: 1.4rem 5.5rem; }
    .btn-primary-l {
      width: fit-content;
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: 500;
      padding: 1.7rem 5rem; }
  .btn-hamburger {
    display: flex;
    background-color: transparent;
    border-radius: unset; }

/* === Header === */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  z-index: 100;
  box-shadow: 0px 5px 25px rgba(68, 68, 68, 0.15);
  border-radius: 0px 0px 6px 6px; }
  .header + * {
    padding-top: 8rem; }
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__inner__logo {
      font-size: 3.6rem;
      line-height: 4.4rem;
      font-weight: 900;
      color: inherit;
      text-decoration: none; }
      .header__inner__logo img {
        max-width: 18rem;
        width: 100%;
        height: 4.4rem;
        object-fit: contain; }
    .header__inner__nav {
      display: flex;
      flex-wrap: wrap; }
      .header__inner__nav li {
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: 500;
        margin-right: 4.3rem;
        position: relative;
        transition: all .3s ease;
        padding: 2.9rem 0; }
        .header__inner__nav li:last-child {
          margin-right: 0; }
        .header__inner__nav li:hover {
          color: var(--color-secondary); }
          .header__inner__nav li:hover > .header__inner__nav--sub-menu {
            visibility: visible;
            opacity: 1; }
      .header__inner__nav a {
        color: inherit;
        text-decoration: none; }
      .header__inner__nav--sub-menu {
        visibility: hidden;
        opacity: 0;
        width: max-content;
        position: absolute;
        top: 8rem;
        background-color: var(--color-white);
        padding: 1rem 1.5rem;
        border-top: 1px solid var(--color-secondary);
        transition: all .3s ease; }
        .header__inner__nav--sub-menu li {
          padding: 0;
          margin-right: 0;
          margin-bottom: 1rem;
          color: var(--color-black); }
          .header__inner__nav--sub-menu li:last-child {
            margin-bottom: 0; }
    .header__inner__mobile {
      display: none; }

/* === Footer === */
.footer {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-background);
  margin-top: auto; }
  .footer__inner {
    display: flex;
    padding: 5rem 0; }
    .footer__inner__logo {
      font-size: 3.5rem;
      line-height: 4.3rem;
      font-weight: 900;
      text-decoration: none;
      color: inherit;
      max-width: 17.5rem;
      width: 100%;
      object-fit: contain;
      margin-right: 3rem; }
    .footer__inner__texts {
      max-width: 47rem;
      width: 100%;
      margin-right: 3rem; }
    .footer__inner__menu {
      display: flex;
      flex-direction: column;
      max-width: 11.5rem;
      width: 100%;
      margin-right: 9rem; }
      .footer__inner__menu li {
        font-size: 1.8rem;
        line-height: 2.2rem;
        font-weight: 500;
        word-break: break-all;
        margin-bottom: 1.5rem; }
        .footer__inner__menu li:last-child {
          margin-bottom: 0; }
      .footer__inner__menu a {
        text-decoration: none;
        color: inherit; }
    .footer__inner__social {
      display: flex;
      flex-direction: column; }
      .footer__inner__social ul {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1.5rem; }
        .footer__inner__social ul li {
          display: flex;
          margin-right: 2rem;
          margin-bottom: 2rem; }
          .footer__inner__social ul li:last-child {
            margin-right: 0; }
        .footer__inner__social ul a {
          display: flex;
          text-decoration: none;
          color: inherit; }

/* === Hero === */
.hero {
  display: flex;
  flex-direction: column;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .hero__inner {
    display: flex;
    flex-direction: column;
    padding-top: 9.5rem;
    padding-bottom: 17.5rem; }
    .hero__inner--btn {
      padding-top: 13.5rem;
      padding-bottom: 21.5rem; }
      .hero__inner--btn .hero__title {
        color: var(--color-white); }
  .hero__title {
    font-size: 11rem;
    line-height: 13.4rem;
    font-weight: 600;
    text-align: left;
    max-width: 100rem;
    width: 100%;
    margin-bottom: 10rem; }
  .hero__form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    padding: 1.5rem 2rem;
    padding-right: 1.5rem; }
    .hero__form__wrap {
      display: flex;
      flex: auto; }
    .hero__form__block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-right: 2rem;
      height: 8rem;
      position: relative; }
      .hero__form__block::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--color-grey-light);
        width: 2px;
        height: 100%; }
      .hero__form__block:last-child::after {
        content: unset; }
      .hero__form__block.u-large {
        max-width: 23rem;
        width: 100%; }
      .hero__form__block.u-medium {
        max-width: 20rem;
        width: 100%; }
      .hero__form__block.u-small {
        max-width: 14rem;
        width: 100%; }
    .hero__form label {
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-weight: 500;
      color: var(--color-grey);
      margin-bottom: 1.1rem; }
    .hero__form select {
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 500;
      width: 100%;
      height: 2rem;
      border: none; }
    .hero__form input[type=text],
    .hero__form input[type=tel] {
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 500;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid var(--color-grey);
      max-width: 14rem;
      width: 100%;
      transition: all .3s ease; }
      .hero__form input[type=text]::placeholder,
      .hero__form input[type=tel]::placeholder {
        color: var(--color-grey); }
      .hero__form input[type=text]:focus,
      .hero__form input[type=tel]:focus {
        border-bottom: 1px solid var(--color-secondary); }
      .hero__form input[type=text].input-dropdown,
      .hero__form input[type=tel].input-dropdown {
        max-width: unset;
        border: none;
        z-index: 2;
        cursor: pointer; }
    .hero__form input[type=submit] {
      font-size: 1.8rem;
      line-height: 2.2rem;
      font-weight: 500;
      color: var(--color-white);
      background-color: var(--color-secondary);
      padding: 3.9rem 7.3rem;
      border: none;
      border-radius: 5px;
      cursor: pointer; }

.selectize-control {
  height: 40px; }
  .selectize-control.single .selectize-input {
    width: calc(100% - 20px);
    border: none;
    box-shadow: unset;
    padding: 8px 0; }
    .selectize-control.single .selectize-input::after {
      right: 0; }
    .selectize-control.single .selectize-input > *,
    .selectize-control.single .selectize-input input {
      font-size: 1.6rem;
      line-height: 1.8rem;
      font-weight: 500;
      color: var(--color-black); }

.selectize-dropdown {
  border-top: 1px solid #d0d0d0; }

/* === About === */
.about {
  display: flex;
  flex-direction: column;
  padding-top: 17rem;
  padding-bottom: 8.5rem; }
  .about__inner {
    display: flex;
    justify-content: space-between; }
  .about__col {
    display: flex;
    flex-direction: column;
    width: calc(50% - 1.35rem); }
    .about__col:last-child {
      padding-top: 10px; }
    .about__col--mobile {
      display: none; }
    .about__col--mobile-slider {
      display: none; }
    .about__col__wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 8.8rem; }
      .about__col__wrap__block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(50% - 15px);
        margin-bottom: 3rem; }
        .about__col__wrap__block h3 {
          margin: 1rem 0; }
    .about__col__img {
      max-width: 100%;
      height: 52rem;
      object-fit: cover;
      margin-top: auto; }
    .about__col strong {
      text-transform: uppercase; }

/* === Members === */
.members {
  display: flex;
  flex-direction: column;
  padding: 8.5rem 0; }
  .members__inner {
    display: flex;
    flex-direction: column;
    position: relative; }
  .members__wrap {
    display: flex;
    margin-top: 7rem; }
    .members__wrap__block {
      display: flex;
      flex-direction: column;
      max-width: 27rem;
      width: 100%;
      height: inherit; }
      .members__wrap__block--img {
        max-width: 100%;
        height: 35.8rem;
        object-fit: cover;
        border-radius: 5px;
        margin-bottom: 1.5rem; }
      .members__wrap__block--position {
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 600;
        color: var(--color-primary);
        margin-top: -3px;
        margin-bottom: 1rem; }
    .members__wrap .swiper-container {
      position: unset; }
    .members__wrap .swiper-button-prev,
    .members__wrap .swiper-button-next {
      position: absolute;
      top: 3.5rem;
      width: 5rem;
      height: 5rem;
      background-size: unset;
      outline: none;
      border-radius: 100%; }
    .members__wrap .swiper-button-next {
      background-image: url(../../assets/images/slider/slider-next-btn.svg);
      right: 0;
      transition: all .3s ease; }
      .members__wrap .swiper-button-next:focus, .members__wrap .swiper-button-next:hover {
        background-image: url(../../assets/images/slider/slider-next-btn-hover.svg); }
    .members__wrap .swiper-button-prev {
      background-image: url(../../assets/images/slider/slider-prev-btn.svg);
      left: auto;
      right: 7rem;
      transition: all .3s ease; }
      .members__wrap .swiper-button-prev:focus, .members__wrap .swiper-button-prev:hover {
        background-image: url(../../assets/images/slider/slider-prev-btn-hover.svg); }
    .members__wrap .swiper-pagination {
      display: none; }

/* === Services === */
.services {
  display: flex;
  flex-direction: column;
  padding-top: 8.5rem;
  padding-bottom: 14rem; }
  .services__inner {
    display: flex;
    flex-direction: column; }
  .services__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 7rem; }
    @media only screen and (max-width: 56.25em) {
      .services__wrap.is-active {
        display: flex; }
        .services__wrap.is-active .services__wrap__block {
          width: calc(50% - 20px); } }
    @media only screen and (max-width: 37.5em) {
      .services__wrap.is-active .services__wrap__block {
        width: 100%; } }
    .services__wrap--mobile-slider {
      display: none; }
    .services__wrap__block {
      display: flex;
      flex-direction: column;
      width: calc(25% - 3rem);
      padding: 3rem 2rem;
      background: var(--color-white);
      box-shadow: 0px 0px 10px rgba(140, 140, 140, 0.15);
      border-radius: 5px;
      margin: 0 1.5rem;
      margin-bottom: 3rem;
      overflow: hidden;
      position: relative; }
      .services__wrap__block:hover .services__wrap__block__link {
        opacity: 1;
        visibility: visible; }
      .services__wrap__block__top {
        display: flex;
        align-items: center; }
      .services__wrap__block img {
        width: 50px;
        height: 50px;
        margin-right: 1.5rem; }
      .services__wrap__block h3 {
        max-width: 15rem;
        width: 100%; }
      .services__wrap__block p {
        margin-top: 1.5rem; }
      .services__wrap__block__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 2.5rem;
        background: rgba(76, 76, 76, 0.4);
        backdrop-filter: blur(18px);
        border-radius: 5px;
        opacity: 0;
        visibility: hidden;
        transition: all .3s ease; }
        .services__wrap__block__link h3 {
          max-width: unset;
          text-align: center;
          margin-bottom: 3rem; }

/* === Offers === */
.offers {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary-background);
  padding: 7.5rem 0; }
  .offers__inner {
    display: flex;
    flex-direction: column; }
  .offers__wrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7rem; }
    .offers__wrap__block {
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 0px 10px rgba(221, 208, 208, 0.15);
      border-radius: 5px;
      padding: 4rem;
      overflow: hidden; }
      .offers__wrap__block.grey {
        border: 7px solid #C2C2C2; }
      .offers__wrap__block.red {
        border: 7px solid #CCA3A7; }
      .offers__wrap__block.yellow {
        border: 7px solid #CCC2A3; }
      .offers__wrap__block .heading-primary::after {
        content: unset; }
      .offers__wrap__block .heading-secondary {
        margin-bottom: 3rem; }
      .offers__wrap__block .heading-tertiary {
        margin-top: -10px; }
      .offers__wrap__block--list {
        margin-top: 4rem;
        margin-bottom: auto;
        padding-left: 3.5rem; }
        .offers__wrap__block--list li {
          position: relative;
          margin-bottom: 1.5rem; }
          .offers__wrap__block--list li::after {
            content: url(../../assets/images/mark.svg);
            position: absolute;
            top: 0;
            left: -3.5rem; }
    .offers__wrap .swiper-slide {
      display: flex; }
    .offers__wrap .swiper-pagination {
      display: none; }

/* === Gallery === */
.gallery {
  display: flex;
  flex-direction: column;
  padding-top: 17rem;
  padding-bottom: 8.5rem; }
  .gallery__inner {
    display: flex;
    flex-direction: column;
    position: relative; }
  .gallery__wrap {
    display: flex;
    margin-top: 7.5rem; }
    .gallery__wrap__block {
      display: flex;
      flex-direction: column;
      max-width: 37rem;
      width: 100%; }
      .gallery__wrap__block img {
        max-width: 100%;
        height: 40rem;
        object-fit: cover;
        border-radius: 5px; }
    .gallery__wrap .swiper-container {
      position: unset; }
    .gallery__wrap .swiper-button-prev,
    .gallery__wrap .swiper-button-next {
      position: absolute;
      top: 3.5rem;
      width: 5rem;
      height: 5rem;
      background-size: unset;
      outline: none;
      border-radius: 100%; }
    .gallery__wrap .swiper-button-next {
      background-image: url(../../assets/images/slider/slider-next-btn.svg);
      right: 0;
      transition: all .3s ease; }
      .gallery__wrap .swiper-button-next:focus, .gallery__wrap .swiper-button-next:hover {
        background-image: url(../../assets/images/slider/slider-next-btn-hover.svg); }
    .gallery__wrap .swiper-button-prev {
      background-image: url(../../assets/images/slider/slider-prev-btn.svg);
      left: auto;
      right: 7rem;
      transition: all .3s ease; }
      .gallery__wrap .swiper-button-prev:focus, .gallery__wrap .swiper-button-prev:hover {
        background-image: url(../../assets/images/slider/slider-prev-btn-hover.svg); }
    .gallery__wrap .swiper-pagination {
      display: none; }

/* === Blog === */
.blog {
  display: flex;
  flex-direction: column;
  padding: 8.5rem 0; }
  .blog__inner {
    display: flex;
    flex-direction: column;
    position: relative; }
  .blog__wrap {
    display: flex;
    margin-top: 7rem; }
    .blog__wrap__block {
      display: flex;
      flex-direction: column;
      max-width: 27rem;
      width: 100%;
      height: inherit;
      position: relative; }
      .blog__wrap__block a {
        text-decoration: none; }
      .blog__wrap__block--img {
        display: flex;
        margin-bottom: 1.5rem; }
        .blog__wrap__block--img img {
          max-width: 100%;
          height: 27rem;
          object-fit: cover;
          border-radius: 5px; }
      .blog__wrap__block--title {
        color: var(--color-primary); }
      .blog__wrap__block--descr {
        color: var(--color-black);
        margin-top: 1rem;
        margin-bottom: auto; }
      .blog__wrap__block--date {
        position: absolute;
        bottom: 0;
        color: var(--color-grey); }
      .blog__wrap__block--btn {
        margin-top: 1.2rem; }
    .blog__wrap .swiper-container {
      position: unset; }
    .blog__wrap .swiper-button-prev,
    .blog__wrap .swiper-button-next {
      position: absolute;
      top: 3.5rem;
      width: 5rem;
      height: 5rem;
      background-size: unset;
      outline: none;
      border-radius: 100%; }
    .blog__wrap .swiper-button-next {
      background-image: url(../../assets/images/slider/slider-next-btn.svg);
      right: 0;
      transition: all .3s ease; }
      .blog__wrap .swiper-button-next:focus, .blog__wrap .swiper-button-next:hover {
        background-image: url(../../assets/images/slider/slider-next-btn-hover.svg); }
    .blog__wrap .swiper-button-prev {
      background-image: url(../../assets/images/slider/slider-prev-btn.svg);
      left: auto;
      right: 7rem;
      transition: all .3s ease; }
      .blog__wrap .swiper-button-prev:focus, .blog__wrap .swiper-button-prev:hover {
        background-image: url(../../assets/images/slider/slider-prev-btn-hover.svg); }
    .blog__wrap .swiper-pagination {
      display: none; }

/* === Contacts === */
.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 8.5rem;
  padding-bottom: 17rem; }
  .contacts__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; }
  .contacts__info {
    display: flex;
    flex-direction: column;
    max-width: 30rem;
    width: 100%; }
    .contacts__info .heading-primary {
      margin-bottom: 7rem; }
    .contacts__info__tel, .contacts__info__email, .contacts__info__address {
      text-decoration: none;
      color: inherit;
      padding-left: 4rem;
      margin-bottom: 3rem;
      position: relative; }
      .contacts__info__tel::before, .contacts__info__email::before, .contacts__info__address::before {
        content: url(../../assets/images/telephone.svg);
        position: absolute;
        left: 0;
        top: 3px; }
    .contacts__info__tel::before {
      content: url(../../assets/images/telephone.svg); }
    .contacts__info__email::before {
      content: url(../../assets/images/gmail.svg); }
    .contacts__info__address {
      margin-bottom: 0; }
      .contacts__info__address::before {
        content: url(../../assets/images/location.svg);
        left: -5px;
        top: -5px; }
  .contacts__map {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 30rem); }
    .contacts__map img {
      max-width: 100%; }

/* === Blog page === */
.blog-page {
  display: flex;
  flex-direction: column;
  padding-top: 16rem;
  padding-bottom: 18rem; }
  .blog-page__inner {
    display: flex;
    flex-direction: column; }
    .blog-page__inner--img {
      max-width: 100%;
      height: 45rem;
      object-fit: contain;
      border-radius: 5px;
      margin-bottom: 5rem; }
    .blog-page__inner--title {
      color: var(--color-primary);
      margin-bottom: 5px; }
      .blog-page__inner--title::after {
        content: unset; }
    .blog-page__inner--date {
      color: var(--color-grey);
      margin-bottom: 3rem; }
    .blog-page__inner--text,
    .blog-page__inner p {
      font-size: 1.8rem;
      line-height: 2.8rem; }

/* === Navigation mobile === */
.nav-mobile {
  display: none;
  position: fixed;
  top: -200%;
  left: 0;
  right: 0;
  background: var(--color-white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 5px 5px;
  padding: 0 15px;
  padding-bottom: 20px;
  opacity: 0;
  z-index: 99;
  transition: all .5s ease; }
  .nav-mobile.active {
    top: 64px;
    opacity: 1;
    transition: all .5s ease; }
  .nav-mobile__list {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px; }
    .nav-mobile__list li {
      display: flex;
      flex-direction: column;
      font-size: 26px;
      line-height: 32px;
      font-weight: 500;
      margin-bottom: 15px; }
      .nav-mobile__list li:last-child {
        margin-bottom: 0; }
    .nav-mobile__list a {
      display: flex;
      text-decoration: none;
      color: inherit; }
    .nav-mobile__list--sub-menu {
      display: none;
      padding-left: 15px;
      margin-top: 15px; }
      .nav-mobile__list--sub-menu.active {
        display: flex;
        flex-direction: column; }
  .nav-mobile__social {
    display: flex;
    margin-bottom: 30px; }
    .nav-mobile__social li {
      display: flex;
      margin-right: 15px; }
      .nav-mobile__social li:last-child {
        margin-right: 0; }
    .nav-mobile__social a {
      display: flex; }
  .nav-mobile--phone {
    display: flex;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    padding-left: 35px;
    text-decoration: none;
    color: inherit;
    position: relative; }
    .nav-mobile--phone::before {
      content: url(../../assets/images/nav/telephone.svg);
      position: absolute;
      top: 4px;
      left: 0; }

/* === Utilities === */
.u-margin-b-null {
  margin-bottom: 0; }

/* === Media === */
@media only screen and (max-width: 56.25em) {
  .container {
    padding: 0 15px; }
  .nav-mobile {
    display: flex;
    flex-direction: column; }
  .header + * {
    padding-top: 64px; }
  .header.active {
    box-shadow: unset;
    border-radius: unset; }
  .header__inner {
    padding: 10px 0; }
    .header__inner__logo {
      font-size: 36px;
      line-height: 44px; }
    .header__inner__nav {
      display: none; }
    .header__inner__mobile {
      display: block; }
  .hero__inner {
    padding: 42px 0; }
  .hero__title {
    display: none; }
  .hero__form {
    flex-direction: column;
    background-color: transparent;
    box-shadow: unset;
    padding: 0; }
    .hero__form__wrap {
      flex-direction: column;
      width: 100%;
      margin-bottom: 5px; }
    .hero__form__block {
      height: unset;
      background: var(--color-white);
      box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);
      border-radius: 6px;
      padding: 17px 30px;
      margin-right: 0;
      margin-bottom: 5px; }
      .hero__form__block::after {
        content: unset; }
      .hero__form__block:last-child {
        margin-bottom: 0; }
      .hero__form__block.u-large {
        max-width: unset; }
      .hero__form__block.u-medium {
        max-width: unset; }
      .hero__form__block.u-small {
        max-width: unset; }
    .hero__form .select {
      max-width: unset; }
      .hero__form .select::after {
        top: -3px; }
      .hero__form .select .select-options {
        top: -43px;
        left: -15px;
        width: calc(100% + 30px);
        height: unset;
        overflow-y: unset; }
        .hero__form .select .select-options li {
          padding: 7px 30px; }
    .hero__form label {
      font-size: 12px;
      line-height: 15px;
      margin-bottom: 11px; }
    .hero__form input[type=text],
    .hero__form input[type=tel] {
      font-size: 16px;
      line-height: 20px;
      max-width: unset; }
    .hero__form input[type=submit] {
      width: 100%;
      padding: 30px 0; }
  .about {
    padding-top: 80px;
    padding-bottom: 25px; }
    .about__inner {
      flex-direction: column; }
    .about__col {
      width: 100%; }
      .about__col:last-child {
        display: none; }
      .about__col--mobile {
        display: block;
        font-size: 14px;
        line-height: 26px;
        margin-top: 40px;
        margin-bottom: 20px; }
      .about__col--mobile-slider {
        display: block;
        position: relative; }
        .about__col--mobile-slider .swiper-container {
          position: unset; }
        .about__col--mobile-slider .swiper-pagination {
          bottom: -30px; }
        .about__col--mobile-slider .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          background-color: transparent;
          border: 1px solid #828282;
          opacity: 1;
          outline: none; }
          .about__col--mobile-slider .swiper-pagination-bullet-active {
            background-color: var(--color-secondary);
            border: 1px solid var(--color-secondary); }
        .about__col--mobile-slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
          margin: 0 2.5px; }
      .about__col__wrap {
        display: none;
        margin-top: 40px; }
        .about__col__wrap__block {
          width: 100%;
          margin-bottom: 15px; }
          .about__col__wrap__block:last-child {
            margin-bottom: 0; }
          .about__col__wrap__block h3 {
            margin-top: 10px;
            margin-bottom: 2px; }
      .about__col__img {
        display: none; }
  .members {
    padding-top: 50px;
    padding-bottom: 30px; }
    .members__wrap {
      margin-top: 40px; }
      .members__wrap__block {
        height: fit-content; }
        .members__wrap__block--img {
          height: 175px;
          margin-bottom: 15px; }
        .members__wrap__block--position {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 0; }
        .members__wrap__block--descr {
          display: none; }
    .members .swiper-slide {
      display: flex;
      justify-content: center; }
    .members .swiper-button-prev,
    .members .swiper-button-next {
      display: none; }
    .members .swiper-pagination {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: -20px; }
    .members .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 1px solid #828282;
      opacity: 1;
      outline: none; }
      .members .swiper-pagination-bullet-active {
        background-color: var(--color-secondary);
        border: 1px solid var(--color-secondary); }
    .members .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 2.5px; }
  .services {
    padding-top: 25px;
    padding-bottom: 90px; }
    .services__wrap {
      display: none;
      margin-top: 40px; }
      .services__wrap--mobile-slider {
        display: block;
        margin-top: 30px;
        position: relative; }
        .services__wrap--mobile-slider .swiper-container {
          position: unset; }
        .services__wrap--mobile-slider .swiper-slide {
          display: flex;
          height: unset; }
        .services__wrap--mobile-slider .swiper-pagination {
          bottom: -30px; }
        .services__wrap--mobile-slider .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          background-color: transparent;
          border: 1px solid #828282;
          opacity: 1;
          outline: none; }
          .services__wrap--mobile-slider .swiper-pagination-bullet-active {
            background-color: var(--color-secondary);
            border: 1px solid var(--color-secondary); }
        .services__wrap--mobile-slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
          margin: 0 2.5px; }
      .services__wrap__block {
        width: unset;
        padding: 25px 20px;
        margin: 10px; }
        .services__wrap__block p {
          font-size: 14px;
          line-height: 24px;
          margin-top: 10px; }
  .offers {
    padding: 50px 0;
    position: relative; }
    .offers__wrap {
      margin-top: 40px; }
      .offers__wrap__block {
        padding: 33px 30px; }
        .offers__wrap__block .heading-secondary {
          font-size: 40px;
          line-height: 50px;
          margin-bottom: 20px; }
        .offers__wrap__block .heading-primary {
          font-size: 60px;
          line-height: 73px; }
        .offers__wrap__block .heading-tertiary {
          margin-top: -8px; }
        .offers__wrap__block--list {
          margin-top: 20px; }
          .offers__wrap__block--list li {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 15px; }
        .offers__wrap__block .btn-primary {
          margin-top: 15px; }
    .offers .swiper-container {
      position: unset; }
    .offers .swiper-slide {
      justify-content: center; }
    .offers .swiper-pagination {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 20px; }
    .offers .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 1px solid #828282;
      opacity: 1;
      outline: none; }
      .offers .swiper-pagination-bullet-active {
        background-color: var(--color-secondary);
        border: 1px solid var(--color-secondary); }
    .offers .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 2.5px; }
  .gallery {
    padding-top: 55px;
    padding-bottom: 50px; }
    .gallery__wrap {
      margin-top: 40px; }
      .gallery__wrap__block {
        max-width: unset; }
        .gallery__wrap__block img {
          height: 310px; }
    .gallery .swiper-button-prev,
    .gallery .swiper-button-next {
      display: none; }
    .gallery .swiper-pagination {
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: -25px; }
    .gallery .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 1px solid #828282;
      opacity: 1;
      outline: none; }
      .gallery .swiper-pagination-bullet-active {
        background-color: var(--color-secondary);
        border: 1px solid var(--color-secondary); }
    .gallery .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 2.5px; }
  .blog {
    padding-top: 50px;
    padding-bottom: 50px; }
    .blog__wrap {
      margin-top: 40px; }
      .blog__wrap__block {
        max-width: unset; }
        .blog__wrap__block--img img {
          width: 100%; }
    .blog .swiper-button-prev,
    .blog .swiper-button-next {
      display: none; }
    .blog .swiper-pagination {
      display: block;
      bottom: -30px; }
    .blog .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: transparent;
      border: 1px solid #828282;
      opacity: 1;
      outline: none; }
      .blog .swiper-pagination-bullet-active {
        background-color: var(--color-secondary);
        border: 1px solid var(--color-secondary); }
    .blog .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 2.5px; }
  .contacts {
    padding-top: 25px;
    padding-bottom: 75px; }
    .contacts__info {
      max-width: unset; }
      .contacts__info .heading-primary {
        margin-bottom: 40px; }
      .contacts__info__tel, .contacts__info__email, .contacts__info__address {
        padding-left: 40px;
        margin-bottom: 15px; }
    .contacts__map {
      display: none; }
  .footer__inner {
    justify-content: center;
    padding: 20px 0; }
    .footer__inner__logo {
      font-size: 40px;
      line-height: 49px;
      max-width: 100%;
      text-align: center;
      margin-right: 0;
      width: unset; }
    .footer__inner__texts, .footer__inner__menu, .footer__inner__social {
      display: none; }
  .blog-page {
    margin-top: 30px;
    padding-bottom: 60px; }
    .blog-page__inner--img {
      height: inherit;
      margin-bottom: 30px; }
    .blog-page__inner--title {
      font-size: 20px;
      line-height: 30px; }
    .blog-page__inner--date {
      font-size: 12px;
      line-height: 14px; }
    .blog-page__inner--text {
      font-size: 16px;
      line-height: 26px; } }
